 <mat-toolbar class="nav">
  <button routerLink="/user-page/{{userId}}">
    <div class="icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
        <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5"/>
      </svg>
    </div>
  </button>
  <div class="left-section">
    <span>Event Department</span>
  </div>
  <div class="right-section">
    <button mat-icon-button routerLink="/events/{{userId}}" class="nav-button">Event</button>
    <button mat-icon-button routerLink="/requests-user" class="nav-button">My Request</button>
    <button mat-icon-button routerLink="/" class="nav-button">Logout</button>
  </div>
</mat-toolbar>

<div class="w-full px-36 py-8"> 
  <div  class="mat-elevation-z8 w-full">
      <table mat-table [dataSource]="RequestList">
          <!-- Name Column -->
          <ng-container matColumnDef="requestId">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.requestId}} </td>
          </ng-container>

          <ng-container matColumnDef="counter">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
          </ng-container>
    
          <ng-container matColumnDef="eventName">
              <th mat-header-cell *matHeaderCellDef> Event </th>
              <td mat-cell *matCellDef="let element"> {{element.eventName}} </td>
          </ng-container>
      
          <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>
    
          <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let element">
                <button mat-raised-button class="btn btn-danger" [disabled]="element.status === 'Accepted' || element.status === 'Removed'" (click)="delete(element.requestId)">Delete</button>
              </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  </div>
</div>  
