<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row border rounded-5 p-3 bg-white shadow box-area">
        <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background: #103cbe;">
            <div class="featured-image mb-3">
                <img src="assets/1.png" class="img-fluid" style="width: 250px;">
            </div>
            <p class="text-white fs-2" style="font-family: 'Courier New', Courier, monospace; font-weight: 600;">Be Verified</p>
            <small class="text-white text-wrap text-center" style="width: 17rem;font-family: 'Courier New', Courier, monospace;">Join experienced Designers on this platform.</small>
        </div>
        <div class="col-md-6 right-box">
            <div class="row align-items-center">
                <div class="header-text mb-4">
                    <h2>Sign Up</h2>
                    <p>Create an account to get started.</p>
                </div>
                <form [formGroup]="RegisterUser" (ngSubmit)="Save()">
                    <div class="input-group mb-3">
                        <mat-form-field class="w-100">
                            <input type="text" matInput placeholder="Name" formControlName="name">
                            <mat-label>Name</mat-label>
                        </mat-form-field>
                    </div>
                    <div class="input-group mb-3">
                        <mat-form-field class="w-100">
                            <input type="email" matInput placeholder="Email" formControlName="email">
                            <mat-label>Email</mat-label>
                        </mat-form-field>
                    </div>
                    <div class="input-group mb-3">
                        <mat-form-field class="w-100">
                            <input type="password" matInput placeholder="Password" formControlName="password">
                            <mat-label>Password</mat-label>
                        </mat-form-field>
                    </div>
                    <div class="flex justify-center">
                        <button mat-raised-button class="btn btn-primary w-100">Register</button>
                    </div>
                </form>
                <div class="row mt-3">
                    <small>Already have an account? <a routerLink="/login" class="sign-up-link">Login</a></small>
                </div>
            </div>
        </div>
    </div>
</div>
